@media only screen and (max-width: 710px) {
  .feeds {
    width: auto;
  }
}
@media only screen and (min-width: 720px) {
  .feeds {
    max-width: 48%;
  }
}
@media only screen and (min-width: 1000px) {
  .feeds {
    max-width: 32%;
  }
}
@media only screen and (min-width: 1400px) {
  .feeds {
    max-width: 24%;
  }
}
